
* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: 'Open Sans';
}

/* -----------
NAVIGATION
------------ */

.top-navigation-bar {
    margin-top: 2px;
    background: url("https://ecs7.tokopedia.net/microsite-production/mimpi/images/menu.png") no-repeat;
    height: 24px;
    width: 24px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

.top-navigation {
    position: relative;
    background: #42b549;
    padding: 5px 0;
    height: 50px;
}

.logo {
    float: left;
    margin-top: 8px;
}

.logo img {
    height: 30px;
}

.top-navigation-menu {
    float: right;
    z-index: 99;
}

.menu-header {
    display: none;
}

.menu {
    display: inline-block;
}

.top-navigation-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-navigation-menu ul li {
    display: inline-block;
    position: relative;
    top: 2px;
}

.top-navigation-menu ul li a {
    color: #FFF;
    padding: 10px;
    display: block;
    letter-spacing: 1px;
    font-weight: 500;
}

header.wrap-green::after {
    content: "";
    background: #35AE3A;
    height: 250px !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    display: block;
}


/* Body fix when drawer is open */

.fix-body {
    overflow: hidden;
}


/* ------------
Bridge Widget
------------- */

.bw-button {
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    background: url(https://ecs7.tokopedia.net/campaign/mimpi/images/ic_menu.png) no-repeat;
    text-indent: -9999px;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.bw-button:focus {
    outline: 0;
}

.bw-item {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
}

.bw-item a {
    padding: 0 !important;
}

.bridge-widget.pulsa,
.bridge-widget.tiket {
    margin-top: 13px;
    margin-left: 20px;
}

.bridge-widget {
    position: relative;
    padding: 10px;
}

.bridge-widget.tiket .bw-container {
    right: -10px;
}

.bridge-widget.active .bw-container {
    display: block;
    height: auto;
}

.bw-container {
    position: absolute;
    top: 45px;
    right: 2px;
    z-index: 10;
    display: none;
    padding: 20px 15px 10px;
    min-width: 240px;
    max-width: 300px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    background: #F8F8F8;
}

.bw-container::after,
.bw-container::before {
    position: absolute;
    display: block;
    border-style: solid;
    content: "";
}

.bw-container::before {
    top: -12px;
    right: 10px;
    border-width: 11px;
    border-top: 0;
    border-color: transparent transparent #D5D5D5;
}

.bw-container::after {
    top: -10px;
    right: 11px;
    border-width: 10px;
    border-top: 0;
    border-color: transparent transparent #F8F8F8;
}

.bw-icon__wrapper {
    margin: 0 auto;
    padding: 15px 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #E6E6E6;
    -webkit-transition: background 0.25s ease;
    transition: background 0.25s ease;
}

.bw-icon__wrapper:hover {
    background: #D5D4D4;
}

.bw-icon__text {
    display: block;
    margin: 0;
    padding: 10px 0 20px;
    color: #787878;
    font-size: 11px;
    line-height: 1.5;
}

.bw-icon {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-position: center center;
}

.bw-icon-toped {
    background-image: url(https://ecs7.tokopedia.net/img/recharge/bridge-widget-sprite-2.png);
    background-position: 0 0;
}

.bw-icon-tiket {
    background-image: url(https://ecs7.tokopedia.net/img/recharge/bridge-widget-sprite-2.png);
    background-position: -60px 0;
}

.bw-icon-listrik {
    background-image: url(https://ecs7.tokopedia.net/img/recharge/bridge-widget-sprite-2.png);
    background-position: 0 -60px;
}

.bw-icon-pulsa {
    background-image: url(https://ecs7.tokopedia.net/img/recharge/bridge-widget-sprite-2.png);
    background-position: -60px -60px;
}

/* --------
  Footer
---------- */

.footer {
    /* margin-top: 20px; */
    padding: 20px 15px;
    background-color: #FFF;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05);
}

.footer-copyright {
    padding: 10px;
}

.footer-connect {
    padding: 5px;
}

.footer-connect > ul {
    margin: 0;
    padding: 0 10px;
    display: inline-block;
}

.footer-connect > ul > li {
    list-style: none;
    display: inline-block;
}

.footer-connect__apps {
    height: 30px;
}

.footer-connect__socmed {
    height: 30px;
}

/* Three */

h1 {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.74);
    font-weight: 600;
}

h3 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.38);
}

ol {
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.38);
}

.content {
    margin: 100px 0;
    padding: 0 60px;
}

#canvas {
    position: relative;
    border: solid 1px #000;
    background-color: #FFF;
    border-radius: 3px;
    margin: 100px auto;
}

.text {
    position: relative;
    bottom: 100px;
}

.text-body__h1 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.74);
}


